@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    /* primary */
    --moderate-violet: hsl(263, 55%, 52%);
    --dark-greyish-blue: hsl(217, 19%, 35%);
    --dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    /* neutral */
    --light-grey: hsl(0, 0%, 81%);
    --light-greyish-blue: hsl(210, 46%, 95%);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: var(--light-greyish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
}

/* common to all cards */
.card {
    padding: 1rem;
}

.card .card-header {
    display: flex;
    align-items: center;
}

.card-header img {
    border-radius: 50%;
    border: 2px solid var(--light-grey);
    width: 2rem;
}

.profile-name {
    margin: 0rem 1rem;
}

.profile-name .profile-badge {
    opacity: 0.5;
    font-size: x-small;
}

.card-body .review-text {
    font-size: smaller;
    opacity: 0.7;
}

.card-one {
    color: var(--light-grey);
    background-color: var(--moderate-violet);
} 



/* .attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
} */